{% extends 'base.html' %}

{% block title %}
    Projects
{% endblock title %}

{% load static %}

{% block content %}
<div class="container d-flex">
    <section class="projects-section ">
        <h1 class="text-center mt-4">My Projects</h1>
        <div class="d-flex flex-column mt-3">
            {% for project in projects_list %}
            <div class="card mb-3 mx-4" style="max-width: 100%">
                <div class="row g-0">
                    <div class="col-md-4 mt-1">
                        <img src="{{ project.image.url}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.name }}</h5>
                            <p class="card-text">{{ project.description }}.</p>
                        {% for skill in project.skills.all %}
                        <div class="skills container">
                            <label for="" class="text-label">
                                <p>{{ skill.name }}</p>
                            </label>
                        </div>
                        {% endfor %}
                            <p class="card-text"><small class="text-muted">Created: {{ project.year }}</small></p>
                            <a href="{{ project.repository }}" class="btn btn-primary">Github repository link</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>    
        
    </section>
</div>
{% endblock content %}