{% extends 'base.html' %}

{% block title %}
    My Experience
{% endblock %}

{% load static %}

{% block content %}

<div class="title center">
    <h1 class="text-center mt-4">
        Experience | Education
    </h1>
    <div class="d-flex  flex-row justify-content-evenly mt-5">
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">United States Marine Corps</h5>
                <h6 class="card-subtitle mb-3 text-muted">Logistical Expeditor</h6>
                <p class="card-text">As a Marine, I supervised and trained other Marines in aircraft parts procurement, directly managed the ordering and inventory of critical aviation components, and maintained accountability for assets valued in the hundreds of thousands of dollars.</p>
                <p class="card-text text-muted ">2020 - 2024</p>
            </div>
        </div>
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">United States Marine Corps</h5>
                <h6 class="card-subtitle mb-3 text-muted">Aviation Ordnance Technician</h6>
                <p class="card-text">As a Marine, I was responsible for loading and handling aircraft ordnance, installing and updating mission-critical software, and diagnosing and repairing aircraft countermeasure defense systems to ensure operational readiness.</p>
                <p class="card-text text-muted ">2020 - 2024</p>
            </div>
        </div>
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title fs-6-text">San Diego Global Knowledge University</h5>
                <h6 class="card-subtitle mb-3 text-muted">Full-Stack Development Immersive</h6>
                <p class="card-text">Currently taking an intensive full-stack development program, gaining hands-on experience designing, developing, and deploying scalable web applications using modern front-end and back-end frameworks, databases, and APIs; complemented by leadership and technical expertise honed as a Marine.</p>
                <p class="card-text text-muted ">2025 - 2026</p>
            </div>
        </div>
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">Golden Valley High School</h5>
                <h6 class="card-subtitle mb-3 text-muted">High School</h6>
                <p class="card-text">In high school, I learned various skills such as: plumbing, framing, construction work, and graphic design.</p>
                <p class="card-text text-muted">2013 - 2017</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}